<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Polling Data</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <div id="tooltip"></div><!-- div to hold tooltip. -->
<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
<script src="../../javascripts/uStates.js"></script> <!-- creates uStates. -->
<script src="../../javascripts/Polls.js"></script> <!-- creates uStates. -->

<script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<body>

<script>

//did not utilize handlebars

function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
  return "<h4>"+n+"</h4><table>"+
    "<tr><td></td><td>"+(d.low)+"</td></tr>"+
    // "<tr><td>Average</td><td>"+(d.avg)+"</td></tr>"+
    // "<tr><td>High</td><td>"+(d.high)+"</td></tr>"+
    "</table>";
}
//set up arrays to pull out states
var uniqueStates = [];
var newStates = [];
for(j=0; j < pollData.length; j++) {

  theState = pollData[j].state;
   
  newStates.push(pollData[j].state);
}
//remove dupes from state array
var uniqueStates = newStates.filter(function(elem, pos) {
  return newStates.indexOf(elem) == pos;
});


console.log("uniqueStates = " + uniqueStates);

// nested for loops to run through state array and data array and pull info
//lots of console logs to show the process as it is not rendered on screen
 for (j=0; j< uniqueStates.length; j++) {

  var theState = uniqueStates[j]
  var counter = 0;
  var forAvg = 0;
  var theAvg= 0;
  var avgAdded = 0;
  var red=0;
  var blue=0;
  var clintonAdded=0;
  var trumpAdded=0;
  var shade;

  function checkStates() {
    for(i=0; i < pollData.length; i++) {

      if(pollData[i].state == theState) {
        counter++;
        clintonAdded += Math.round(pollData[i].Clinton;
        trumpAdded += pollData[i].Trump;
        forAvg = Math.abs(pollData[i].Clinton - pollData[i].Trump);
        // forAvg = Math.round(forAvg * 100) / 100
        avgAdded +=Math.round(forAvg * 100) / 100;
        // avgAdded = avgAdded.toFixed(1);

        console.log("data Clinton if " + theState + ": " + pollData[i].Clinton);
        console.log("data Trump if " + theState + ": " + pollData[i].Trump);
        console.log("average = " + forAvg);

      }
    };
    console.log("total Clinton if " + theState + ": " + clintonAdded);
    console.log("total Trump if " + theState + ": " + trumpAdded);
    console.log("total to average if " + theState + ": " + avgAdded);
    console.log("counter: " + counter);

    if (clintonAdded > trumpAdded) {
      blue++;
    } 
    else if (trumpAdded > clintonAdded) {
      red++;
    }

    if (theAvg <= 2) {
      shade = "light";
    }
    else if (theAvg > 2 && theAvg <= 5) {
      shade = "mild";
    }
    else {
      shade = "deep";
    }

     //things that don't work to change color
      // theState(path.state), color = red;
      var colorRed = d3.select("#statesvg") 
      .append("path.state")  
      .attr("fill", "red");  
      // var color = red;
      // var color = blue;
      var colorBlue = d3.select("#statesvg") 
      .append("path.state")  
      .attr("fill", "blue");  

    theAvg = (avgAdded / counter);
    console.log("theAvg: " + theAvg);
    console.log("red: " + red);
    console.log("blue: " + blue);
    console.log("shade = " + shade);

  }
  checkStates();
}

//d3 rendering that is part of the sample

  var stateData ={}; /* Sample random data. */ 
  ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
  "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
  "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
  "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
  "WI", "MO", "AR", "OK", "KS", "LS", "VA"]


    .forEach(function(d){ 
      var low=Math.round(100*Math.random()), 
        mid=Math.round(100*Math.random()), 
        high=Math.round(100*Math.random());
      stateData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]), 
          avg:Math.round((low+mid+high)/3), color:d3.interpolate("#ffffcc", "#e8c4d2")(low/100)}; 
        
    });

  /* draw states on id #statesvg */ 
  uStates.draw("#statesvg", stateData, tooltipHtml);
  
  d3.select(self.frameElement).style("height", "600px"); 

</script>



<footer class="footer">
      <div class="container">
          <p><a href="https://github.com/eliserothberg/pollChallenge">GitHub Repo</a></p>
      </div>
    </footer>
</body>
</html>
