<html lang="en">
<head>
  <meta charset="UTF-8">
<title>Polling Data</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <div id="tooltip"></div><!-- div to hold tooltip. -->
<svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
<script src="../../javascripts/uStates.js"></script> <!-- creates uStates. -->
<!-- <script src="../Polls.csv"></script>
<script src="./fuck.js"></script>
<script src="../fuck.js"></script> -->
<script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>

<!--     <link href="css/bootstrap.min.css" rel="stylesheet">
 -->
<script>

  function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
    return "<h4>"+n+"</h4><table>"+
      "<tr><td>Low</td><td>"+(d.low)+"</td></tr>"+
      "<tr><td>Average</td><td>"+(d.avg)+"</td></tr>"+
      "<tr><td>High</td><td>"+(d.high)+"</td></tr>"+
      "</table>";
  }
  
  var sampleData ={}; /* Sample random data. */ 
  ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
  "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
  "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
  "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
  "WI", "MO", "AR", "OK", "KS", "LS", "VA"]


    .forEach(function(d){ 
      var low=Math.round(100*Math.random()), 
        mid=Math.round(100*Math.random()), 
        high=Math.round(100*Math.random());
      sampleData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]), 
          avg:Math.round((low+mid+high)/3), color:d3.interpolate("#ffffcc", "#800026")(low/100)}; 
    });

    // d3.text("Polls.csv", function(data) {
    //             var parsedCSV = d3.csv.parseRows(data);

    //             var container = d3.select("body")
    //                 .append("table")

    //                 .selectAll("tr")
    //                     .data(parsedCSV).enter()
    //                     .append("tr")

    //                 .selectAll("td")
    //                     .data(function(d) { return d; }).enter()
    //                     .append("td")
    //                     .text(function(d) { return d; });
    //         });
  
  /* draw states on id #statesvg */ 
  uStates.draw("#statesvg", sampleData, tooltipHtml);
  
  d3.select(self.frameElement).style("height", "600px"); 

  var data = [
  {branch: "President",
  forecastdate: 10/28/16,
  state: "Utah", 
  Clinton: 30.39541, 
  Trump: 40.11558},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Utah", 
  Clinton: 27.03206, 
  Trump: 38.9474},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Florida", Clinton: 46.77926, Trump: 43.95346},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Ohio", Clinton: 45.83632, Trump: 43.439},
{branch: "President",
  forecastdate: 10/28/16,
  state: "North Carolina", Clinton: 39.83081, Trump: 42.19001},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Ohio", Clinton: 40.75383, Trump: 40.31654},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Utah", Clinton: 37.66415, Trump: 31.16261},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Utah", Clinton: 36.56206, Trump: 35.90994},
{branch: "President",
  forecastdate: 10/28/16,
  state: "North Carolina", Clinton: 41.57375, Trump: 44.39628},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Virginia", Clinton: 49.53602, Trump: 38.04281},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Utah", Clinton: 29.07966, Trump: 38.67707},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Utah", Clinton: 28.19646, Trump: 46.16856},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Wisconsin",
  Clinton: 46.40978, Trump: 37.20346},
{branch: "President",
  forecastdate: 10/28/16,
  state: "North Carolina", 
  Clinton: 43.37402, Trump: 45.3125},
{branch: "President",
  forecastdate: 10/28/16,
  state: "Pennsylvania", Clinton: 44.2688, Trump: 42.77751},
{branch: "President",
  forecastdate: 10/28/16,state: "Ohio", Clinton: 40.14388, Trump: 43.65981},
{branch: "President",
  forecastdate: 10/28/16,state: "New York", Clinton: 57.17519, Trump: 33.47956},
{branch: "President",
  forecastdate: 10/28/16,state: "Utah", Clinton: 27.60047, Trump: 39.68335},
{branch: "President",
  forecastdate: 10/28/16,state: "Michigan", Clinton: 45.79966, Trump: 37.03926},
{branch: "President",
  forecastdate: 10/28/16,state: "Ohio", Clinton: 41.84813, Trump: 43.8168},
{branch: "President",
  forecastdate: 10/28/16,state: "Florida", Clinton: 41.486, Trump: 43.32398},
{branch: "President",
  forecastdate: 10/28/16,state: "New Hampshire", Clinton: 47.81409, Trump: 33.31317},
{branch: "President",
  forecastdate: 10/28/16,state: "Utah", Clinton: 36.22649, Trump: 40.48729},
{branch: "President",
  forecastdate: 10/28/16,state: "Pennsylvania", Clinton: 38.62971, Trump: 43.22314},
{branch: "President",
  forecastdate: 10/28/16,state: "North Carolina", Clinton: 44.6364, Trump: 42.50087},
{branch: "President",
  forecastdate: 10/28/16,state: "Colorado", Clinton: 36.5933, Trump: 44.45737},
{branch: "President",
  forecastdate: 10/28/16,state: "Wisconsin", Clinton: 49.35404, Trump: 36.55305},
{branch: "President",
  forecastdate: 10/28/16,state: "Alabama", Clinton: 37.53621, Trump: 53.42842},
{branch: "President",
  forecastdate: 10/28/16,state: "New Hampshire", Clinton: 46.17157, Trump: 37.48798},
{branch: "President",
  forecastdate: 10/28/16,state: "California", Clinton: 57.48937, Trump: 24.4323},
{branch: "President",
  forecastdate: 10/28/16,state: "North Carolina", Clinton: 42.04498, Trump: 41.34246},
{branch: "President",
  forecastdate: 10/28/16,state: "Utah", Clinton: 32.05808, Trump: 46.10263},
{branch: "President",
  forecastdate: 10/28/16,state: "Wisconsin", Clinton: 46.58131, Trump: 38.38083},
{branch: "President",
  forecastdate: 10/28/16,state: "North Carolina", Clinton: 48.7684, Trump: 41.93993},
{branch: "President",
  forecastdate: 10/28/16,state: "Wisconsin", Clinton: 46.04169, Trump: 39.47638}]
  for(i=0; i < data.length; i++) {
  
      console.log(data[i].state);
    }
    


</script>



<footer class="footer">
      <div class="container">
          <p><a href="/api/friends">??</a> | <a href="https://github.com/eliserothberg/FriendFinder">GitHub Repo</a></p>
      </div>
    </footer>
</body>
</html>
